*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

// This is a base setting rather than typography. Every 1rem measurement is based on this.
// Set the root font-size to a percentage in case of user browser change . This is 10px 
html {
    font-size: 62.5%; // 10px : 10/16 = 62.5%

    @include respond(big-desktop) {
        font-size: 75%; // 12px : 12/16 = 75%
    }

    @include respond(tab-land) {
        font-size: 56.25%; // 9px : 9/16 = 56.25%
    }

    @include respond(tab-port) {
        font-size: 50%; // 8px : 8/16 = 50%
    }
    
}

body {
    box-sizing: border-box;
    padding: 3rem;

    @include respond(tab-port) {
        padding: 0;
    }
}

::selection {
    background-color: $color-main;
    color: $color-white;
}
