.btn {
    &:link,
    &:visited {
        display: inline-block;
        text-transform: uppercase;
        padding: 1.5rem 4rem;
        position: relative;
        font-size: 1.6rem;
    
        border-radius: 150px;
        -webkit-border-radius: 150px;
        -moz-border-radius: 150px;
        -ms-border-radius: 150px;
        -o-border-radius: 150px;
    
        transition: all .3s;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
    }
    
    &:hover {
        transform: translateY(-0.05rem);
        -webkit-transform: translateY(-0.05rem);
        -moz-transform: translateY(-0.05rem);
        -ms-transform: translateY(-0.05rem);
        -o-transform: translateY(-0.05rem);
        box-shadow: 0 1rem 1.5rem rgba($color-black, .2);

        &::after {
            opacity: 0;
        
            transform: scaleX(1.4) scaleY(1.6);
            -webkit-transform: scaleX(1.4) scaleY(1.6);
            -moz-transform: scaleX(1.4) scaleY(1.6);
            -ms-transform: scaleX(1.4) scaleY(1.6);
            -o-transform: scaleX(1.4) scaleY(1.6);
        }
    }
    
    &:active {
        transform: translateY(-0.02rem);
        -webkit-transform: translateY(-0.02rem);
        -moz-transform: translateY(-0.02rem);
        -ms-transform: translateY(-0.02rem);
        -o-transform: translateY(-0.02rem);
        box-shadow: 0 0.5rem 1rem rgba($color-black, .2);
    }
    
    &--white {
        background-color: $color-white;
        color: $color-dark-grey;

        &::after {
            background-color: $color-white;
        }

    }
    
    /* Some Button Hover Effect */
    &::after {
        content: '';
        display: inline-block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    
        border-radius: 15rem;
        -webkit-border-radius: 15rem;
        -moz-border-radius: 15rem;
        -ms-border-radius: 15rem;
        -o-border-radius: 15rem;
        transition: all .7s;
        -webkit-transition: all .7s;
        -moz-transition: all .7s;
        -ms-transition: all .7s;
        -o-transition: all .7s;
    }
    
    &--animated {
        animation: moveInBottom .7s ease-out .75s;
        -webkit-animation: moveInBottom .7s ease-out .75s;
        /* To automatically apply styles to 0% before animation start */
        animation-fill-mode: backwards;
    }
}