.composition {
    position: relative;

    &__img {
        width: 70%;
        box-shadow: $shadow-3;
        position: absolute;
        z-index: 5;
        // outline-offset: 2rem;
        border-radius: 0.2rem;
        -webkit-border-radius: 0.2rem;
        -moz-border-radius: 0.2rem;
        -ms-border-radius: 0.2rem;
        -o-border-radius: 0.2rem;
        transition: all .5s;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;

        @include respond(tab-port) {
            float: left;
            position: relative;
            width: 33.33%;
            box-shadow: $shadow-1;
        }

        &--p1 {
            left: 0;
            top: 10rem;

            @include respond(tab-port) {
                top: 0;

                transform: scale(1.1);
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -ms-transform: scale(1.1);
                -o-transform: scale(1.1);
            }
        }

        &--p2 {
            left: 30%;
            top: 5rem;

            @include respond(tab-port) {
                top: -1rem;
                left: 0;
                z-index: 10;

                transform: scale(1.5);
                -webkit-transform: scale(1.5);
                -moz-transform: scale(1.5);
                -ms-transform: scale(1.5);
                -o-transform: scale(1.5);
            }
        }

        &--p3 {
            right: -10rem;
            top: -2rem;

            @include respond(tab-land) {
                top: 20rem;
                right: 3rem;
            }

            @include respond(tab-port) {
                top: 1rem;
                right: 0;

                transform: scale(1.1);
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -ms-transform: scale(1.1);
                -o-transform: scale(1.1);
            }
        }
        
        &:hover {
            //outline: 1rem solid $color-main;
            box-shadow: $shadow-4;
            z-index: 10;
            transform: scale(1.02) translateY(-1rem);
            -webkit-transform: scale(1.02) translateY(-1rem);
            -moz-transform: scale(1.02) translateY(-1rem);
            -ms-transform: scale(1.02) translateY(-1rem);
            -o-transform: scale(1.02) translateY(-1rem);
        }
    }
    // Hover on parent element, then select images that are not hovered
    &:hover &__img:not(:hover) {
        transform: scale(0.95);
        -webkit-transform: scale(0.95);
        -moz-transform: scale(0.95);
        -ms-transform: scale(0.95);
        -o-transform: scale(0.95);
    }
}