.header {
    height: 95vh;
    background-image: linear-gradient(to right, rgba($color-white,.7) , rgba($color-main, 0.7)), url(../img/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
    position: relative;

    &__logo-container {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 7rem;
    }

    &__headline-container {
        position: absolute;
        top: 35%;
        left: 50%;
    
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        text-align: center;
    }
}