/*-------------------------------------------*/
/*----------------VARIABLES------------------*/
/*-------------------------------------------*/
/*-------------------------------------------*/
/*------------GLOBAL SETUP-------------------*/
/*-------------------------------------------*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  /* Set the root font-size to a percentage in case of user browser change . This is 10px */
  font-size: 62.5%; }

body {
  font-family: 'Krub', sans-serif;
  /* font-size: 20px; */
  font-weight: 400;
  line-height: 1.4;
  padding: 3rem;
  box-sizing: border-box; }

a {
  color: inherit;
  text-decoration: none; }

li {
  list-style: none; }

/*-------------------------------------------*/
/*------------------HEADER-------------------*/
/*-------------------------------------------*/
.header {
  height: 95vh;
  background-image: linear-gradient(to right, rgba(242, 223, 232, 0.7), rgba(255, 51, 153, 0.7)), url(../img/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
  position: relative; }

.header__logo-container {
  position: absolute;
  top: 4rem;
  left: 4rem; }

.header__logo {
  height: 7rem; }

.header__headline-container {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  text-align: center; }

.headline {
  color: #F2DFE8;
  text-transform: uppercase;
  margin-bottom: 6rem;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; }

.headline--main,
.headline--sub {
  display: block; }

.headline--main {
  font-size: 9rem;
  font-weight: 400;
  letter-spacing: 8.1rem;
  animation: moveInLeft 2s ease-out;
  -webkit-animation: moveInLeft 2s ease-out; }

.headline--sub {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 1rem;
  animation: moveInRight 2s ease-out;
  -webkit-animation: moveInRight 2s ease-out; }

/*-------------------------------------------*/
/*------------------BUTTONS------------------*/
/*-------------------------------------------*/
.btn:link,
.btn:visited {
  display: inline-block;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  position: relative;
  font-size: 1.6rem;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  -ms-border-radius: 150px;
  -o-border-radius: 150px;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s; }

.btn:hover {
  transform: translateY(-0.05rem);
  -webkit-transform: translateY(-0.05rem);
  -moz-transform: translateY(-0.05rem);
  -ms-transform: translateY(-0.05rem);
  -o-transform: translateY(-0.05rem);
  box-shadow: 0 1rem 1.5rem rgba(55, 35, 44, 0.2); }

.btn:active {
  transform: translateY(-0.02rem);
  -webkit-transform: translateY(-0.02rem);
  -moz-transform: translateY(-0.02rem);
  -ms-transform: translateY(-0.02rem);
  -o-transform: translateY(-0.02rem);
  box-shadow: 0 0.5rem 1rem rgba(55, 35, 44, 0.2); }

.btn--white {
  background-color: #F2DFE8;
  color: #777; }

/* Some Button Hover Effect */
.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 15rem;
  -webkit-border-radius: 15rem;
  -moz-border-radius: 15rem;
  -ms-border-radius: 15rem;
  -o-border-radius: 15rem;
  transition: all .7s;
  -webkit-transition: all .7s;
  -moz-transition: all .7s;
  -ms-transition: all .7s;
  -o-transition: all .7s; }

.btn--white::after {
  background-color: #F2DFE8; }

.btn:hover::after {
  opacity: 0;
  transform: scaleX(1.4) scaleY(1.6);
  -webkit-transform: scaleX(1.4) scaleY(1.6);
  -moz-transform: scaleX(1.4) scaleY(1.6);
  -ms-transform: scaleX(1.4) scaleY(1.6);
  -o-transform: scaleX(1.4) scaleY(1.6); }

.btn--animated {
  animation: moveInBottom .7s ease-out .75s;
  -webkit-animation: moveInBottom .7s ease-out .75s;
  /* To automatically apply styles to 0% before animation start */
  animation-fill-mode: backwards; }

/*-------------------------------------------*/
/*----------------ANIMATIONS-----------------*/
/*-------------------------------------------*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-15rem);
    -webkit-transform: translateX(-15rem);
    -moz-transform: translateX(-15rem);
    -ms-transform: translateX(-15rem);
    -o-transform: translateX(-15rem); }
  80% {
    transform: translateX(1.5rem);
    -webkit-transform: translateX(1.5rem);
    -moz-transform: translateX(1.5rem);
    -ms-transform: translateX(1.5rem);
    -o-transform: translateX(1.5rem); }
  100% {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(15rem);
    -webkit-transform: translateX(15rem);
    -moz-transform: translateX(15rem);
    -ms-transform: translateX(15rem);
    -o-transform: translateX(15rem); }
  80% {
    transform: translateX(-1.5rem);
    -webkit-transform: translateX(-1.5rem);
    -moz-transform: translateX(-1.5rem);
    -ms-transform: translateX(-1.5rem);
    -o-transform: translateX(-1.5rem); }
  100% {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
    -webkit-transform: translateY(10rem);
    -moz-transform: translateY(10rem);
    -ms-transform: translateY(10rem);
    -o-transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }
