*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-15rem);
    -webkit-transform: translateX(-15rem);
    -moz-transform: translateX(-15rem);
    -ms-transform: translateX(-15rem);
    -o-transform: translateX(-15rem); }
  80% {
    transform: translateX(1.5rem);
    -webkit-transform: translateX(1.5rem);
    -moz-transform: translateX(1.5rem);
    -ms-transform: translateX(1.5rem);
    -o-transform: translateX(1.5rem); }
  100% {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(15rem);
    -webkit-transform: translateX(15rem);
    -moz-transform: translateX(15rem);
    -ms-transform: translateX(15rem);
    -o-transform: translateX(15rem); }
  80% {
    transform: translateX(-1.5rem);
    -webkit-transform: translateX(-1.5rem);
    -moz-transform: translateX(-1.5rem);
    -ms-transform: translateX(-1.5rem);
    -o-transform: translateX(-1.5rem); }
  100% {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
    -webkit-transform: translateY(10rem);
    -moz-transform: translateY(10rem);
    -ms-transform: translateY(10rem);
    -o-transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }

body {
  font-family: 'Krub', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  padding: 3rem;
  color: #0c0b0c; }

a {
  color: inherit;
  text-decoration: none; }

li {
  list-style: none; }

.headline {
  color: #F2DFE8;
  text-transform: uppercase;
  margin-bottom: 6rem;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; }
  .headline--main {
    display: block;
    font-size: 9rem;
    font-weight: 400;
    letter-spacing: 8.1rem;
    animation: moveInLeft 2s ease-out;
    -webkit-animation: moveInLeft 2s ease-out; }
  .headline--sub {
    display: block;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 1rem;
    animation: moveInRight 2s ease-out;
    -webkit-animation: moveInRight 2s ease-out; }

.headline-secondary {
  display: inline-block;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #FF3399, #8F0044);
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  -o-transition: all .4s; }
  .headline-secondary:hover {
    transform: skewY(-5deg) skewX(-25deg) scale(1.2);
    -webkit-transform: skewY(-5deg) skewX(-25deg) scale(1.2);
    -moz-transform: skewY(-5deg) skewX(-25deg) scale(1.2);
    -ms-transform: skewY(-5deg) skewX(-25deg) scale(1.2);
    -o-transform: skewY(-5deg) skewX(-25deg) scale(1.2);
    text-shadow: 0.5rem 1rem 2rem rgba(12, 11, 12, 0.3); }

.headline-tertiary {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase; }

.copy-full {
  font-size: 1.6rem; }
  .copy-full:not(:last-child) {
    margin-bottom: 3.5rem; }

.util-center-text {
  text-align: center !important; }

.util-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.util-margin-bottom-medium {
  margin-bottom: 5rem !important; }

.util-margin-bottom-big {
  margin-bottom: 10rem !important; }

.util-margin-top-big {
  margin-top: 10rem !important; }

.util-margin-top-medium {
  margin-top: 5rem !important; }

.util-margin-top-small {
  margin-top: 1.5rem !important; }

.btn {
  /* Some Button Hover Effect */ }
  .btn, .btn:link, .btn:visited {
    display: inline-block;
    text-transform: uppercase;
    padding: 1.5rem 4rem;
    position: relative;
    font-size: 1.6rem;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    -ms-border-radius: 150px;
    -o-border-radius: 150px;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    border: none;
    cursor: pointer; }
  .btn:hover {
    transform: translateY(-0.5rem);
    -webkit-transform: translateY(-0.5rem);
    -moz-transform: translateY(-0.5rem);
    -ms-transform: translateY(-0.5rem);
    -o-transform: translateY(-0.5rem);
    box-shadow: 0 1rem 1.5rem rgba(12, 11, 12, 0.2); }
    .btn:hover:after {
      opacity: 0;
      transform: scaleX(1.4) scaleY(1.6);
      -webkit-transform: scaleX(1.4) scaleY(1.6);
      -moz-transform: scaleX(1.4) scaleY(1.6);
      -ms-transform: scaleX(1.4) scaleY(1.6);
      -o-transform: scaleX(1.4) scaleY(1.6); }
  .btn:active, .btn:focus {
    outline: none;
    transform: translateY(-0.2rem);
    -webkit-transform: translateY(-0.2rem);
    -moz-transform: translateY(-0.2rem);
    -ms-transform: translateY(-0.2rem);
    -o-transform: translateY(-0.2rem);
    box-shadow: 0 0.5rem 1rem rgba(12, 11, 12, 0.2); }
  .btn--white {
    background-color: #F2DFE8;
    color: #777; }
    .btn--white::after {
      background-color: #F2DFE8; }
  .btn--pink {
    background-color: #FF3399;
    color: #F2DFE8; }
    .btn--pink::after {
      background-color: #FF3399; }
  .btn--teal {
    background-color: #31b99a;
    color: #F2DFE8; }
    .btn--teal::after {
      background-color: #31b99a; }
  .btn::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 15rem;
    -webkit-border-radius: 15rem;
    -moz-border-radius: 15rem;
    -ms-border-radius: 15rem;
    -o-border-radius: 15rem;
    transition: all .7s;
    -webkit-transition: all .7s;
    -moz-transition: all .7s;
    -ms-transition: all .7s;
    -o-transition: all .7s; }
  .btn--animated {
    animation: moveInBottom .7s ease-out .75s;
    -webkit-animation: moveInBottom .7s ease-out .75s;
    /* To automatically apply styles to 0% before animation start */
    animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  display: inline-block;
  color: #FF3399;
  border-bottom: 0.1rem solid #FF3399;
  padding: 1rem;
  font-size: 1.6rem; }

.btn-text:hover {
  background-color: #FF3399;
  color: #F2DFE8;
  box-shadow: 0 1rem 1.5rem rgba(12, 11, 12, 0.2);
  transform: translateY(-0.2rem);
  -webkit-transform: translateY(-0.2rem);
  -moz-transform: translateY(-0.2rem);
  -ms-transform: translateY(-0.2rem);
  -o-transform: translateY(-0.2rem); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(12, 11, 12, 0.2);
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0); }

.composition {
  position: relative; }
  .composition__img {
    width: 70%;
    box-shadow: 0 1.5rem 4rem rgba(12, 11, 12, 0.3);
    position: absolute;
    z-index: 5;
    border-radius: 0.2rem;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    -ms-border-radius: 0.2rem;
    -o-border-radius: 0.2rem;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s; }
    .composition__img--p1 {
      left: 0;
      top: 10rem; }
    .composition__img--p2 {
      left: 30%;
      top: 5rem; }
    .composition__img--p3 {
      right: -20rem;
      top: -2rem; }
    .composition__img:hover {
      box-shadow: 0 2.5rem 4rem rgba(12, 11, 12, 0.4);
      z-index: 10;
      transform: scale(1.02) translateY(-1rem);
      -webkit-transform: scale(1.02) translateY(-1rem);
      -moz-transform: scale(1.02) translateY(-1rem);
      -ms-transform: scale(1.02) translateY(-1rem);
      -o-transform: scale(1.02) translateY(-1rem); }
  .composition:hover .composition__img:not(:hover) {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95); }

.feature-container {
  background-color: rgba(242, 223, 232, 0.8);
  font-size: 1.6rem;
  padding: 2.5rem;
  text-align: center;
  box-shadow: 0 1.5rem 4rem rgba(12, 11, 12, 0.2);
  transition: transform .5s;
  -webkit-transition: transform .5s;
  -moz-transition: transform .5s;
  -ms-transition: transform .5s;
  -o-transition: transform .5s; }
  .feature-container__icon {
    font-size: 6rem;
    background-image: linear-gradient(to right, #FF3399, #8F0044);
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    color: transparent; }
  .feature-container:hover {
    transform: translateY(-3rem) scale(1.05);
    -webkit-transform: translateY(-3rem) scale(1.05);
    -moz-transform: translateY(-3rem) scale(1.05);
    -ms-transform: translateY(-3rem) scale(1.05);
    -o-transform: translateY(-3rem) scale(1.05); }

.card {
  height: 50rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative; }
  .card__side {
    height: 50rem;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    transition: all 1.5s ease;
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -ms-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    box-shadow: 0 1.5rem 4rem rgba(12, 11, 12, 0.2);
    overflow: hidden; }
    .card__side--front {
      background-color: #fdfdfd; }
    .card__side--back {
      transform: rotateX(180deg);
      -webkit-transform: rotateX(180deg);
      -moz-transform: rotateX(180deg);
      -ms-transform: rotateX(180deg);
      -o-transform: rotateX(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right top, #68d7be, #31b99a); }
      .card__side--back-2 {
        background-image: linear-gradient(to right top, #82d3ff, #2db5ff); }
      .card__side--back-3 {
        background-image: linear-gradient(to right top, #d6a252, #ab7728); }
  .card:hover .card__side--front {
    transform: rotateX(-180deg);
    -webkit-transform: rotateX(-180deg);
    -moz-transform: rotateX(-180deg);
    -ms-transform: rotateX(-180deg);
    -o-transform: rotateX(-180deg); }
  .card:hover .card__side--back {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg); }
  .card__img {
    background-size: cover;
    height: 25rem;
    background-blend-mode: multiply;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 50% 100%, 0 60%);
    clip-path: polygon(0 0, 100% 0, 100% 60%, 50% 100%, 0 60%); }
    .card__img--1 {
      background-image: linear-gradient(to right top, #68d7be, #31b99a), url(../img/stylist-1.jpeg); }
    .card__img--2 {
      background-image: linear-gradient(to right top, #82d3ff, #2db5ff), url(../img/stylist-2.jpeg); }
    .card__img--3 {
      background-image: linear-gradient(to right top, #d6a252, #ab7728), url(../img/stylist-3.jpeg); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #F2DFE8;
    position: absolute;
    top: 12rem;
    left: 3rem;
    width: 50%; }
  .card__heading-break {
    padding: 1rem 1.5rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone; }
    .card__heading-break--1 {
      background-image: linear-gradient(to right top, rgba(104, 215, 190, 0.7), rgba(49, 185, 154, 0.7)); }
    .card__heading-break--2 {
      background-image: linear-gradient(to right top, rgba(130, 211, 255, 0.7), rgba(45, 181, 255, 0.7)); }
    .card__heading-break--3 {
      background-image: linear-gradient(to right top, rgba(214, 162, 82, 0.7), rgba(171, 119, 40, 0.7)); }
  .card__details {
    padding: 3.5rem; }
    .card__details ul {
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.6rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 0.1rem solid #eee; }
    .card__details-star-color {
      color: #eab415; }
  .card__cta {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%); }
  .card__price-container {
    color: #F2DFE8;
    margin-bottom: 8rem; }
  .card__price-rate {
    font-size: 2rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 200; }

.testimonials {
  font-size: 1.6rem;
  width: 80%;
  margin: 0 auto;
  padding: 5rem;
  padding-left: 10rem;
  box-shadow: 0 2.5rem 6rem rgba(12, 11, 12, 0.2);
  background-color: rgba(242, 223, 232, 0.7);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  transform: skewX(-15deg);
  -webkit-transform: skewX(-15deg);
  -moz-transform: skewX(-15deg);
  -ms-transform: skewX(-15deg);
  -o-transform: skewX(-15deg);
  transform-origin: 0% 0%; }
  .testimonials__shape {
    background-color: orange;
    width: 15rem;
    height: 15rem;
    position: relative;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-5rem) skewX(15deg);
    -webkit-transform: translateX(-5rem) skewX(15deg);
    -moz-transform: translateX(-5rem) skewX(15deg);
    -ms-transform: translateX(-5rem) skewX(15deg);
    -o-transform: translateX(-5rem) skewX(15deg); }
  .testimonials__user-img {
    height: 100%;
    transform: translateX(-1rem) scale(1.5);
    -webkit-transform: translateX(-1rem) scale(1.5);
    -moz-transform: translateX(-1rem) scale(1.5);
    -ms-transform: translateX(-1rem) scale(1.5);
    -o-transform: translateX(-1rem) scale(1.5);
    transition: all .8s; }
  .testimonials__user-name {
    color: #F2DFE8;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10%);
    -webkit-transform: translate(-50%, 10%);
    -moz-transform: translate(-50%, 10%);
    -ms-transform: translate(-50%, 10%);
    -o-transform: translate(-50%, 10%);
    opacity: 0;
    transition: all .8s;
    backface-visibility: hidden; }
  .testimonials__text-box {
    transform: skewX(15deg);
    -webkit-transform: skewX(15deg);
    -moz-transform: skewX(15deg);
    -ms-transform: skewX(15deg);
    -o-transform: skewX(15deg); }
  .testimonials:hover .testimonials__user-name {
    opacity: 1;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%); }
  .testimonials:hover .testimonials__user-img {
    transform: translateX(-1rem) scale(1.05);
    -webkit-transform: translateX(-1rem) scale(1.05);
    -moz-transform: translateX(-1rem) scale(1.05);
    -ms-transform: translateX(-1rem) scale(1.05);
    -o-transform: translateX(-1rem) scale(1.05);
    filter: blur(0.3rem) brightness(70%); }

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .35;
  overflow: hidden; }
  .background-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
    -o-object-fit: cover; }

.form__group:not(:last-child) {
  margin-bottom: 3rem; }

.form__input {
  display: block;
  width: 90%;
  background-color: rgba(242, 223, 232, 0.7);
  color: inherit;
  font-size: 1.6rem;
  font-family: inherit;
  padding: 1rem 2rem;
  border: none;
  border: 0.2rem solid transparent;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 0.5rem 1rem rgba(12, 11, 12, 0.2);
    border-bottom: 0.2rem solid #31b99a; }
  .form__input:focus:invalid {
    border-bottom: 0.2rem solid #FF3399; }
  .form__input::-webkit-input-placeholder {
    color: #777; }

.form__label {
  display: block;
  margin: 0.5rem 0 0 2.2rem;
  font-size: 1.2rem;
  font-weight: 700;
  transition: all .8s ease-in-out;
  -webkit-transition: all .8s ease-in-out;
  -moz-transition: all .8s ease-in-out;
  -ms-transition: all .8s ease-in-out;
  -o-transition: all .8s ease-in-out; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-3.5rem);
  -webkit-transform: translateY(-3.5rem);
  -moz-transform: translateY(-3.5rem);
  -ms-transform: translateY(-3.5rem);
  -o-transform: translateY(-3.5rem); }

.form__radio-group {
  width: 49%;
  display: inline-block; }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4rem; }

.form__radio-button {
  display: inline-block;
  height: 3rem;
  width: 3rem;
  border: 0.3rem solid #FF3399;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: -0.5rem; }
  .form__radio-button::after {
    content: '';
    display: block;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
    background-color: #FF3399;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transition: opacity .5s;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s; }

.form__radio-input:checked + .form__radio-label .form__radio-button::after {
  opacity: 1; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right, rgba(242, 223, 232, 0.7), rgba(255, 51, 153, 0.7)), url(../img/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
  position: relative; }
  .header__logo-container {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 7rem; }
  .header__headline-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    text-align: center; }

.footer {
  background-color: #232323;
  color: #777;
  padding: 10rem 0;
  font-size: 1.6rem; }
  .footer__nav {
    display: inline-block;
    border-left: 0.15rem solid #777;
    padding-left: 2rem; }
  .footer__list-item {
    display: block; }
    .footer__list-item:not(:last-child) {
      margin-bottom: 2.5rem; }
  .footer__link:link, .footer__link:visited {
    text-transform: uppercase;
    display: inline-block;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out; }
  .footer__link:hover, .footer__link:active {
    color: #FF3399;
    box-shadow: 0 1.5rem 3rem rgba(12, 11, 12, 0.4);
    transform: translateX(4rem) scale(1.2);
    -webkit-transform: translateX(4rem) scale(1.2);
    -moz-transform: translateX(4rem) scale(1.2);
    -ms-transform: translateX(4rem) scale(1.2);
    -o-transform: translateX(4rem) scale(1.2); }
  .footer__logo-container, .footer__social-nav, .footer__copyright {
    text-align: center; }
  .footer__logo-container {
    color: #F2DFE8;
    margin-bottom: 3rem; }
  .footer__logo {
    height: auto;
    width: 12rem;
    margin-bottom: 3rem; }
  .footer__logo-text {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: 1rem; }
  .footer__social-nav {
    font-size: 2.5rem;
    margin-bottom: 2rem; }
    .footer__social-nav-list-item {
      display: inline-block; }
      .footer__social-nav-list-item:not(:last-child) {
        margin-right: 3rem; }
  .footer__social-link:link, .footer__social-link:visited {
    text-transform: uppercase;
    display: inline-block;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out; }
  .footer__social-link:hover {
    color: #FF3399;
    text-shadow: 0.5rem 1.5rem 0.5em rgba(12, 11, 12, 0.6);
    transform: translateY(-1rem) scale(1.5);
    -webkit-transform: translateY(-1rem) scale(1.5);
    -moz-transform: translateY(-1rem) scale(1.5);
    -ms-transform: translateY(-1rem) scale(1.5);
    -o-transform: translateY(-1rem) scale(1.5); }
  .footer__social-link:active {
    text-shadow: 0.5rem 0.5rem 0.1em rgba(12, 11, 12, 0.6);
    transform: translateY(-0.5rem) scale(1.5);
    -webkit-transform: translateY(-0.5rem) scale(1.5);
    -moz-transform: translateY(-0.5rem) scale(1.5);
    -ms-transform: translateY(-0.5rem) scale(1.5);
    -o-transform: translateY(-0.5rem) scale(1.5); }

.navigation__checkbox {
  display: none; }

.navigation__toggler {
  position: fixed;
  top: 7rem;
  right: 7rem;
  background-color: #F2DFE8;
  height: 9rem;
  width: 9rem;
  z-index: 100;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); }

.navigation__background {
  position: fixed;
  top: 7.5rem;
  right: 7.5rem;
  background-image: radial-gradient(#FF3399, #8F0044);
  height: 8rem;
  width: 8rem;
  z-index: 50;
  -webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  transform: scale(100);
  -webkit-transform: scale(100);
  -moz-transform: scale(100);
  -ms-transform: scale(100);
  -o-transform: scale(100); }

.navigation__menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  z-index: 75;
  text-align: center; }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%); }
  .navigation__list-item {
    margin: 2rem 0; }

.navigation__link {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 300;
  color: #F2DFE8;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #F2DFE8 50%);
  background-size: 100%;
  padding: 1rem 2rem; }

.section-about {
  background-color: #f7f7f7;
  padding: 35rem 0;
  margin-top: -25vh; }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right, rgba(242, 223, 232, 0.7), rgba(255, 51, 153, 0.7)), url(../img/hairstyling.jpg);
  background-size: cover;
  background-position: 50% 40%;
  background-repeat: no-repeat;
  transform-origin: 0% 0%;
  margin-top: -25rem;
  transform: skewY(7deg);
  -webkit-transform: skewY(7deg);
  -moz-transform: skewY(7deg);
  -ms-transform: skewY(7deg);
  -o-transform: skewY(7deg); }
  .section-features > * {
    transform: skewY(-7deg);
    -webkit-transform: skewY(-7deg);
    -moz-transform: skewY(-7deg);
    -ms-transform: skewY(-7deg);
    -o-transform: skewY(-7deg); }

.section-stylists {
  background-color: #f7f7f7;
  padding: 30rem 0 10rem 0; }

.section-testimonials {
  padding: 10rem 0;
  position: relative; }

.section-appointment {
  padding: 10rem 0;
  background-image: linear-gradient(to right top, #FF3399, #8F0044); }

.appointment-container {
  background-image: linear-gradient(100deg, rgba(242, 223, 232, 0.8) 0%, rgba(242, 223, 232, 0.8) 50%, transparent 50%), url(../img/form.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 1.5rem 4rem rgba(12, 11, 12, 0.3);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem; }
  .appointment-container__form {
    width: 50%;
    padding: 5rem; }
