// Colors
$color-main: #FF3399;
$color-main-dark: #8F0044; 
$color-white: #F2DFE8;
$color-black: #37232C; 
$color-grey-dark: #777;
$color-grey-light-1: #f7f7f7 ;

// Font Sizes
$font-size-default: 1.6rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

